link(rel='apple-touch-icon', href='/img/favicons/apple-touch-icon.png', sizes='180x180')
link(rel='icon', type='image/png', href='/img/favicons/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/img/favicons/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/img/favicons/manifest.json')
link(rel='mask-icon', href='/img/favicons/safari-pinned-tab.svg', color='#e48632')
link(rel='shortcut icon', href='/img/favicons/favicon.ico', type='image/x-icon')
meta(name='msapplication-config', content='/img/favicons/browserconfig.xml')
meta(name='theme-color', content='#e48632')
