.advertisements {
  margin-top: 30px;
  margin-left: 18px;
  padding: 1em 0 .5em 0;
  min-height: 115px;

  .adsbybocoup {
    font-size: 10px;
    font-style: italic;
    text-align: center;
    display: block;
    clear: both;
    width: 120px;
  }

  img {
    float: left;
  }

  p {
    font-size: 12px;
    line-height: 1.2;
    width: 120px;
    float: left;
    margin: 0 0 0 10px;
    min-height: 90px;
  }

  a {
    font-weight: bold;
  }

}

.page-index .advertisements {
  border-left: none;
  margin: 0px;  

  p {
    width: 150px;
  }
}


