body {
  background: #f5f6f6;
  font-family: 'Lato', sans-serif;
}

.navbar .nav {
 	margin: 0 10px 0 270px;
 	font-size: 17px;
	font-weight: 200;
	letter-spacing: 1px;
}

.content {
  min-height: 600px;
  background: #f5f6f6;
  .page .hero-unit{
    min-height: 1000px;
    max-width: 1088px;
  }
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1100px;
}

.row-fluid .span9 {
	margin-left: 0;
	width: 76.599%;
}

.brand {
  position: absolute;
  left: 15px;
}

.hero-unit {
	padding: 40px;
	h1 {
		font-size: 28px;
		margin: 0;
	}
	h2 {
		font-size: 24px;
	}
}



.sidebar-nav {
  margin-top: 210px;
  padding: 0;
  .nav-header {
		background: #e48632;
		color: white;
		margin: 0;
		text-shadow: none;
		text-transform: none;
		font-size: 17px;
		font-weight: 200;
		letter-spacing: 1px;
		padding: 12px 15px 12px 35px;
	}
	.nav-list {
		padding: 0;
		a {
			margin: 0;
			padding: 8px 15px 8px 35px;
			color: #6f5a40; 
			&:hover {
				background: white;
			}
		}
	}
}

.info-box {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.grunt-footer {
  background: #442e14;
  color: #FFF;
  width: 100%;
  padding-top: 22px;
  font-size: 18px;
  height: 48px;
  .inner {
    max-width: 940px;
    margin: 0px auto;
  }
  ul {
    margin-top: 2px;
  }
  li {
    float: left;
    margin-right: 45px;
    &:last-child {
      margin-right: 0;
    }
  }
  li a,
  li a:focus,
  li a:hover {
    color: #FFF;
  }
  ul {
    list-style-type: none;
  }
  .bocoup {
    img {
      margin: -10px 0px 0px 10px;
    }
  }
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.svg#icomoon') format('svg'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-star:before, .icon-search:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-star:before {
  content: "\e000";
}
.icon-search:before {
  content: "\e001";
}
