extends layout

block content
  .container
    .row-fluid
      .span9.page
        .hero-unit
          h1(style='font-size:45px') Ooops! Page Not Found...
          hr
          .grunt-preview
            pre.terminal
              span.command-prompt grunt
                |   
                |grunt-cli: The grunt command line interface. (v0.1.6)
                |    
                |Fatal error: Unable to find local grunt.
                |    
                |If you're seeing this message, either a Gruntfile wasn't found or grunt
                |hasn't been installed locally to your project. For more information about
                |installing and configuring grunt, please see the Getting Started guide:
                |    
                |https://gruntjs.com/getting-started
                |    
                |<span class="command-prompt active">npm install grunt<span class="active-prompt"></span></span>
      .span3
        .well.sidebar-nav
