extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav
          h2.nav-header API Documentation
          ul.nav.nav-list
            li.active
              a(href='#') grunt
            li
              a(href='#') grunt.config
            li
              a(href='#') grunt.event
            li
              a(href='#') grunt.fail
            li
              a(href='#') grunt.file
      .span9.page
        .hero-unit
          h1 Grunt API
