extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav
          h2.nav-header Community Resources
          ul.nav.nav-list
            li IRC #grunt
            li GitHub Bug Tracker
      .span9.page
        .hero-unit
          h1 Grunt Community
          p Page coming soon..
