<header>
  <nav>
    <ul>
      <li><a href="/getting-started">Getting Started</a></li>
      <li><a href="/plugins">Plugins</a></li>
      <li><a href="/docs">Documentation</a></li>
      <li><a href="/api">API</a></li>
    </ul>
  </nav>
  <form>
    <label for="search">
      <input placeholder="Search" type="text" id="search" />
    </label>
  </form>
</header>
