extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav
          .latest-news
            h1 Latest News
            ul
              li 
                span.date February 18th, 2013
                a(href='#') Grunt 0.4.0 released

          .getting-started
            h1 Getting Started
            p Read the <a href="/getting-started">Getting Started</a> guide for instructions on using Grunt in your projects. Once you've done that, check out a <a href="/sample-gruntfile">Sample Gruntfile</a> and learn more about <a href="/configuring-tasks">Configuring Tasks</a>.


      .span9.page
        .hero-unit
          .home-header
            h1
              span.grunt-name GRUNT
              span.version stable version: 0.4.0
            h1.tag-line The JavaScript Task Runner

          .why.left
            h1 Why use a task runner?
            p In one word: automation. The less work you have to do when performing repetitive tasks like minification, compilation, unit testing, linting, etc, the easier your job becomes. After you've configured it, a task runner can do most of that mundane work for you—and your team—with basically zero effort.
          
          .why.right
            h1 Why use Grunt?
            p The Grunt ecosystem is huge and it's growing every day. With literally hundreds of [plugins to choose from](/plugins), you can use Grunt to automate just about anything with a minimum of effort. If someone hasn't already built what you need, authoring and publishing your own Grunt plugin to npm is a breeze.
          
          .technology
            h1 Technologies with Grunt Plugins
            div
              a.technology(href='https://npmjs.org/package/grunt-contrib-coffee')
                span.logo
                  img(src='/img/logo-coffeescript.jpg', alt='Bocoup')
              a.technology(href='https://npmjs.org/package/grunt-contrib-handlebars')
                span.logo
                  img(src='/img/logo-handlebars.jpg', alt='Bocoup')
              a.technology(href='https://npmjs.org/package/grunt-contrib-jade')
                span.logo
                  img(src='/img/logo-jade.jpg', alt='Bocoup') 
              a.technology(href='https://npmjs.org/package/grunt-linter')
                span.logo
                  img(src='/img/logo-jshint.jpg', alt='Bocoup')
              a.technology(href='https://npmjs.org/package/grunt-contrib-less')
                span.logo
                  img(src='/img/logo-less.jpg', alt='Bocoup')
              a.technology(href='https://npmjs.org/package/grunt-contrib-requirejs')
                span.logo
                  img(src='/img/logo-requirejs.jpg', alt='Bocoup')
              a.technology(href='https://npmjs.org/package/grunt-contrib-sass')
                span.logo
                  img(src='/img/logo-sass.jpg', alt='Bocoup')
              a.technology(href='https://npmjs.org/package/grunt-contrib-stylus')
                span.logo
                  img(src='/img/logo-sylus.jpg', alt='Bocoup')

          .grunt-preview       	
            h1 Here's a preview!
            p While installing grunt is simple, it's slightly more involved to get it running on your project.  To see what your effort will win you, take a look at this example output from running Grunt in a <a href="https://github.com/cowboy/jquery-tiny-pubsub">sample project</a>
            pre.terminal
              span.command-prompt grunt
              |&nbsp;
              |Running "jshint:gruntfile" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              |&nbsp;
              |Running "jshint:src" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              |&nbsp;
              |Running "jshint:test" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              |&nbsp;
              |Running "qunit:files" (qunit) task
              |Testing test/tiny-pubsub.html....<span class="green">OK</span>
              |<span class="green">&gt;&gt;</span> 4 assertions passed (23ms)
              |&nbsp;
              |Running "clean:files" (clean) task
              |Cleaning "dist"...<span class="green">OK</span>
              |&nbsp;
              |Running "concat:dist" (concat) task
              |File "dist/ba-tiny-pubsub.js" created.
              |&nbsp;
              |Running "uglify:dist" (uglify) task
              |File "dist/ba-tiny-pubsub.min.js" created.
              |Uncompressed size: <span class="green">389</span> bytes.
              |Compressed size: <span class="green">119</span> bytes gzipped (<span class="green">185</span> bytes minified).
              |&nbsp;
              |<span class="green">Done, without errors.</span>
              |&nbsp;
              |<span class="command-prompt active"><span class="active-prompt"></span></span>

          .who-uses-grunt
            h1 Who uses Grunt
            div
              a.technology(href='https://twitter.com')
                span.logo
                  img(src='/img/logo-twitter.jpg', alt='Bocoup')
              a.technology(href='http://modernizr.com/')
                span.logo
                  img(src='/img/logo-modernizr.jpg', alt='Bocoup')
              a.technology(href='http://www.adobe.com/')
                span.logo
                  img(src='/img/logo-adobe.jpg', alt='Bocoup')
              a.technology(href='http://jquery.com/')
                span.logo
                  img(src='/img/logo-jquery.jpg', alt='Bocoup')
          












