!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= (locals.title ? locals.title + ' - ' : '') + 'Grunt: The JavaScript Task Runner'
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700')
    link(rel='shortcut icon', href='../img/favicon.ico', type='image/x-icon')
    link(href='/rss', rel='alternate', title='Grunt Blog Feed', type='application/atom+xml')
    script(src='/js/vendor/lib/modernizr.min.js')
  body(class=locals.page ? 'page-' + locals.page + (locals.page === 'index' ? '' : ' page-secondary') : '')
    include blocks/header
    .content
      block content
    include blocks/footer
