extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav
          h2.nav-header Latest Posts
          ul.nav.nav-list
            li Article 1
            li Article 2
          h2.nav-header Article Archive
          ul.nav.nav-list
            li January 2013
      .span9.page
        .hero-unit
          h1 Grunt News
          p Page coming soon..
