extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav.news
          h2.nav-header News
          ul.nav.nav-list
            li
              a Article 1
            li 
              a Article 1
      .span9.page
        .hero-unit
          h1 Grunt News
          p Page coming soon..
