extends layout

block content
  .container
    .row-fluid
      .span12.page
        .hero-unit
          .plugin-unit
            h1 Plugins
            != content
            include blocks/advertisements
          .main
            .plugin-list#plugins-contrib
            table.plugin-list#plugins-all.display
              thead
                tr
                  th.colPlugin
                    | Plugin
                    span.legend
                  th.colDown
                    | Downloads
                    span.legend last 30 days
