extends layout

block content
  .container
    .row-fluid
      .span9.page
        .hero-unit
          h1 Grunt Plugins
          != content
          section.main
            #loading
              p Loading plugins...
            .plugin-list#plugins-contrib
            .plugin-list#plugins-all
      .span3
        .well.sidebar-nav.plugins-search
          .nav-header
            i.icon-power-cord
            span Plugins
          .search-options
            div.navbar-search.pull-left
              input.search-query(type='text', placeholder='Search Grunt Plugins', disabled, autofocus)
            p.sort-by Sort plugins list by
            .btn-group.dropdown
                button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
                  span.choice Title
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Title
                  li
                    a(href='#', data-sort-desc='true') Modified
                  //li
                    a(href='#', data-sort-desc='true') Stars
                  //li
                    a(href='#', data-sort-desc='true') Forks
                  li
                    a(href='#') Author
                  li
                    a(href='#', data-sort-desc='true') Version
            .contrib-only
              label.checkbox
                | Show <strong>contrib</strong> plugins first
                input#contrib-top(type='checkbox')
        include blocks/advertisements
  script(src='/js/plugins.js')
  script#plugins-all-template(type='text/template')
    |<ul class="list">
    |<% _.each(modules, function (el) { %>
    |<li>
    |<a class="plugin <%= el.isContrib ? 'contrib' : '' %>" href="https://npmjs.org/package/<%- el.name %>">
    |<span class="name-description">
    |<span class="title"><%- el.displayName %></span>
    |<% if (el.author) { %>
    |<span class="author <%= el.author.name === 'zzzz'? 'author-hide' : '' %>"> by <%= el.author.name %></span>
    |<% } else { %>
    |<span class="author"></span>
    |<% } %>
    |<span class="desc"><%- el.description %><div class="hide"><%- el.keywords %></div></span>
    |</span>
    |<span class="summary">
    |<span class="modified"><span>Modified</span> <time datetime="<%- el.time.modified %>"><%- el.time.modified %></time></span>
    |<span class="gruntVersion"><span>Grunt Version</span> <%- el.gruntVersion || "N/A" %></span>
    |</span>
    |</a>
    |</li>
    |<% }); %>
    |</ul>
