extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav.plugins-search
          .nav-header
            i.icon-power-cord
            span Plugins
          .search-options
            form.navbar-search.pull-left
              input.search-query(type='text', placeholder='Search Grunt Plugins', disabled, autofocus)
            .btn-group
              button.btn All Plugins
              button.btn Contrib Plugins
            .btn-group.dropdown
                button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
                  span.choice Title
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Title
                  li
                    a(href='#', data-sort-desc='true') Modified
                  li
                    a(href='#', data-sort-desc='true') Stars
                  li
                    a(href='#', data-sort-desc='true') Forks
                  li
                    a(href='#') Author


      .span9.page
        .hero-unit
          h1 The world of Grunt Plugins
          section.main
            #loading
              p Loading plugins...
            #plugins-all
            p
              small
                i Plugins must be published on NPM with the `gruntplugin` keyword.


  script(src='/js/vendor/jquery.js')
  script(src='/js/vendor/jquery.timeago.js')
  script(src='/js/vendor/list.js')
  script(src='/js/vendor/bootstrap-dropdown.js')
  script(src='/js/vendor/lodash.js')
  script(src='/js/plugins.js')

  script#plugins-latest-template(type='text/template')
    |<h4>Latest plugins</h4>
    |  <dl class="dl-horizontal">
    |  <% _.each(modules, function (el) { %>
    |  <% var name = el.name.replace('grunt-', ''); %>
    |  <dt><a href="https://npmjs.org/package/<%- el.name %>"><%- name %></a></dt>
    |  <dd><%- el.description %></dd>
    |  <% }); %>
    |  </dl>
  script#plugins-all-template(type='text/template')
    |<ul class="list">
    |<% _.each(modules, function (el) { %>
    |<% var name = el.name.replace('grunt-', ''); %>
    |<li>
    |<a class="plugin list" href="https://npmjs.org/package/<%- el.name %>">
    |<span class="name-description">
    |<span class="title"><%- name %></span>
    |<% if (el.author) { %>
    |<span class="author"> by <%- el.author.name %></span>
    |<% } else { %>
    |<span class="author"></span>
    |<% } %>
    |<span class="desc"><%- el.description %><div class="hidden"><%- el.keywords %></div></span>
    |</span>
    |<span class="summary">
    |<span class="modified"><span class="last-modified">Last modified</span> <time datetime="<%- el.time.modified %>"><%- el.time.modified %></time></div>
    |<span class="stars"><i class="icon-star"></i><span>Stars</span><%- el.stars %></span>
    |<span class="forks"><i class="icon-fork"></i><span>Forks</span><%- el.forks %></span>
    |</span>
    |</a>
    |</li>
    |<% }); %>
    |</ul>
