footer.grunt-footer
  .inner
    .container
      ul.pull-right
        li
          a(href='/blog') Blog
        li
          a(href='/upgrading-from-0.3-to-0.4') Migration Guides
        li
          a(href='/contributing') Contributing
        li.social
          a(href='https://github.com/gruntjs/', alt='Grunt on GitHub')
            span.icon-github
        li.social
          a(href='https://twitter.com/gruntjs/', alt='Grunt on Twitter')
            span.icon-twitter
        li.social
          a(href='/rss', alt='Grunt blog RSS feed')
            span.icon-feed
      ul.pull-left
        li
          |Grunt development is sponsored by 
          a(href='http://bocoup.com/', alt='Bocoup')
            |Bocoup
script
  var _gaq=[['_setAccount','UA-34623937-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
