footer.grunt-footer
  .inner
    p.pull-left.bocoup
      | Sponsored by
      a(href='http://bocoup.com/')
        img(src='/img/bocoup.png', alt='Bocoup')
    ul.pull-right
      li
        a(href='/news') News
      li
        a(href='https://github.com/gruntjs/grunt/') View on GitHub
      li
        a(href='/docs/upgrading-from-0.3-to-0.4') Migration Guides
      li
        a(href='/community') Community
