footer.grunt-footer
  .inner
    .container
      ul.pull-left
        li
          |Grunt development is sponsored by 
          a(href='https://jquery.org/', title='The jQuery Foundation')
            |The jQuery Foundation

      ul.pull-right
        li
          a(href='/blog') Blog
        li
          a(href='/upgrading-from-0.3-to-0.4') Migration Guides
        li
          a(href='/contributing') Contributing
        li
          a(href='/development-team') Development Team
        li.social
          a(href='https://github.com/gruntjs/', title='Grunt on GitHub')
            span.icon-github
        li.social
          a(href='https://twitter.com/gruntjs/', title='Grunt on Twitter')
            span.icon-twitter
        li.social
          a(href='/rss', title='Grunt blog RSS feed')
            span.icon-rss

if locals.page === 'plugins'
  script(src='/js/plugins.js', async)
