.navbar.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='/')
        span.logo
      .nav-collapse.collapse
        ul.nav
          li
            a(href='/getting-started')
              i.icon-arrow-right
              span Getting Started
          li
            a(href='/plugins')
              i.icon-power-cord
              span Plugins
          li
            a(href='/getting-started')
              i.icon-document-alt-stroke
              span Documentation
          li
            a(href='/api')
              i.icon-cog
              span API
        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Search')
      //.nav-collapse
